*{
    padding: 0;
    margin: 0;
    font-family:sans-serif ;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    min-height: 80px;
    background-color: #9FB8AD;
    justify-content: space-between;
    align-items: center;
  
}
.logo{
    height: 75px;
    width: 75px;
    padding:10px;
 }
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin:0px 20px;
    position:relative;
}
nav ul li a{
    text-decoration: none;
    color: #383E56;
}

.nav-a::before {
    content:"";
    height:3px;
    width: 0%;
    background: #383E56; 
    position: absolute;
    left:0%;
    bottom:-12px;
    transition:0.4s ease-out;
}
.nav-a:hover::before{
    width: 100%;
}
/*main*/

.box{
    border: 5px solid #FB743E;
    background-color: #FB743E;
    filter: alpha(opacity=50);
    padding: 40px;
    margin-top: 80px;
    margin-left:315px;
    width: 800px;
    height: 400;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content:flex-end;
    align-items: center;
    
}
/*hero*/
.hero{
    height:100vh;
    width: 100%;
    background-image: url(../landing-page/imagenes/wallpaper4.jpg);
    background-position: center;
    background-attachment: scroll;
    background-size:cover
    background-repeat:no-repeat;
    margin-top:0px;
    padding:0px;
    display:inline-block;
}
.box spam{
    color: #383E56;
    padding-top: 50px;
    gap:40px;
}

.sonrisa{
    height: 250px;
    width: 300px;
    flex:content
    radius:40px;
    padding: 15px;
    margin:15px;
}
    
/*mision section*/
.mision_section{
    height:450px;
    width:100%;
    margin-top: 60px;
    margin-bottom: 60px;
    justify-content: space-around;
    text-align: center;
    color: #FB743E;
    background-color:#9FB8AD;
    display: inline-block;
}
.card_container {
   display:flex;   
   margin-top: 80px; 
   gap: 15rem;
  padding-left: 60px;
  padding-right: 60px;
}
.card_content{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
/*contact-us*/
.contact-us{
    background-color: #383E56;
    padding-top: 100px;
    height:350px;
    display:flex;
    align-content: stretch;
    justify-content: space-around;
    list-style: none;

}
.contact{
    color:#9FB8AD;
    text-align: center;  
}
.contact ul li {
list-style: none;
}
.maps{
    display: flex;
}
.endFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color:#9FB8AD;
}

@media (max-width:700px){
header{
    flex-direction: column;
}
nav{
    padding:10px 0px;
}
}
