*{
    padding: 0;
    margin: 0;
    font-family:sans-serif ;
    box-sizing: border-box;

}

header{
    display: flex;
    min-height: 80px;
    background-color: rgba(74, 178, 219,50%);
    justify-content: space-between;
    align-items: center;
  
}
.logo{
    height: 75px;
    width: 75px;
    padding:10px;
 }
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin:0px 20px;
    position:relative;
}
nav ul li a{
    text-decoration: none;
    color:rgb(23, 23, 148);
}

.nav-a::before {
    content:"";
    height:3px;
    width: 0%;
    background:rgb(23, 23, 148);
    position:absolute;
    left:0%;
    bottom:-12px;
    transition:0.4s ease-out;
}
.nav-a:hover::before{
    width: 100%;
}
.hero{
    height:100vh;
    width: 100%;
    background-image: url(../landing-page/imagenes/wallpaper4.jpg);
    background-position: center;
    background-size:cover
    background-repeat:no-repeat;
    
}
.sonrisa{
   height: 250px;
   width: 300px;
   flex:content
}
@media (max-width:700px){
header{
    flex-direction: column;
}
nav{
    padding:10px 0px;
}
}
